header{
    font-size: 100px;
    font-family: 'Staatliches', cursive;
    color: white;
    justify-content: center;
    display: flex;
    align-items: center;
    overflow: hidden;
    width: auto;
    height: 400px;
    background-color: black;
}
main {
    color: white;
    width: 800px;
    margin: auto;
    padding: 105px;
}
.maincontent{
    font-family: 'Lexend', sans-serif;
    color:white;
    margin-bottom: 40px;
}

body{
    color: white;
    background-color: #242424;
}

h2{
    font-family: 'Press Start 2P', cursive;
}

article{
    margin-right: 10px;
    margin-bottom: 10px;
    justify-content: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    border-radius: 5px;
    height: 350px;
    width: 250px;
    background-color: black;
}

.bt {
    cursor: pointer;
    background-color: #333;
    color: #fff;
    border: none;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: bold;
    border-radius: 5px;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.4);
    transition: background-color 0.3s ease;
}

.bt:hover {
    background-color: #555;
}

.article-container{
    display: flex;
    flex-wrap: wrap;
    height: 500px;
    width: 1000px;
}